*{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    background-color:lightgrey;
}

.aboutus img{
   height: 50%;
   width: 75%;
   background-color:lightgray;
   flex-direction: initial;
   margin: 0 auto;
   box-shadow: none;
   border: lightgray
}
/*About Us section*/
.aboutus{
    background-color:#fff;
    padding: 50px 0;
    text-align: center;
}
.about-us.container{
    max-width: 1000px;
    margin: 0% auto;
    padding:0% 20px;
    
}
.about-us h2{
    font-size: 36px;
    margin-top: 20px;
    color:lightgreen;
    text-align: center;
}
.about-us p{
    font-size:18px;
    line-height: 2.0;
    color: #555;
    text-align: center;
}
.about-us h3{
    font-size:28px;
    margine-top:30px;
    color:#333;
    text-align: center;
    color:lightgreen;

}
.about-us p{
    font-size:20px;
    line-height:2.0;
    color: rosybrown;
    text-align: center;

}
.about-us h4{
    font-size: 28px;
    line-height:2.0;
    color: lightgreen;
    text-align: center;
}
.about-us p{
    font-size:20px;
    line-height:2.0;
    color: #333;
    text-align: center;

}
/*Footer styles*/
footer{
    background-color: #333;
    color: #fff;
    padding:0% 10px;
    text-align: center;

}
footer.container{
    max-width: 1200px;
    margin:0 auto;
}