body{
    height: 100%;
    width: 100%;
}
.header{
    min-height: 3.57em;
    width: 100%;
    background-color: #f3f6f4;
     margin-inline-start:-9PX; 
     margin-block-start: -10PX;
    position: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    overflow: hidden;
}
.header img{
    height: 2.5em;
    margin: 5px 5px ;
    overflow: hidden;
}
.child1{
    margin: 5px 20px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.child1 a{
    text-decoration: none;
    color: rgb(30, 31, 30);
    margin: 10px 20px;
    overflow: hidden;
}
.college img{
    height: 100vh;
    width: 100%;
    margin-inline-start:-9PX;
    overflow: hidden; 
}

.page2{
    height: 100vh;
    width: 100vw;
}
.page2 h2{
    text-align: center;
    font-size: 2em;
}
.item-container{
    margin-top: 30px;
    min-height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:450px ;
    width: 300px;
    border-radius: 14px;
    overflow: hidden;
    background-color: white;
    box-shadow: 10px 20px 10px gray;
}
.card span{
    text-align: center;
    color: rgb(79, 79, 79);
}
.img-con{
    height: 55%;
    background-color: rgb(114, 228, 123);
    width: 100%;
    background-color: rgb(145, 202, 143);
    align-items: center;
}
.img-con img{
    height: 100%;
    margin-left: 10px;
}
}
@media screen and (max-width: 500px) {
        .header{
            flex-direction: row-reverse;
        }
        .right{
            height: 50%;
            width: 100%;
    .college img{
        height: 70vh;
        width: 50%;
    }
    }
  @media  screen and (min-width:501px) and (max-width: 716px) {
    .page1{
        height: 70vh;
    }
    
   }