body{
    height: 100%;
    width: 100%;
}
.header{
    min-height: 3.57em;
    width: 100%;
    background-color: #f3f6f4;
     margin-inline-start:-9PX; 
     margin-block-start: -10PX;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content:right;
    flex-wrap: wrap;
    text-decoration: none;
}
.child1{
    height: 10px;
    width: 100px;
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.college img{
    height: 100vh;
    width: 100%;
    margin-inline-start:-9PX; 
}

.page2{
    height: 100vh;
    width: 100vw;
}
.page2 h2{
    text-align: center;
    font-size: 2em;
}
.item-container{
    margin-top: 30px;
    min-height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:450px ;
    width: 300px;
    border-radius: 14px;
    overflow: hidden;
    background-color: white;
    box-shadow: 10px 20px 10px gray;
}
.card span{
    text-align: center;
    color: gray;
}
.img-con{
    height: 55%;
    background-color: aqua;
    width: 100%;
    background-color: rgb(70, 67, 67);
}
.img-con img{
    height: 100%;

}