/********** Notice Bord and Upcoming Events CSS Starts **********/  
*{
     margin: 0;
    padding: 0;

}
.notice-board-sect {
    background: #fff;
    float: left;
    margin: 0px auto;
    display: table;
    width: 98%;
    padding: 15px 10px 20px 10px;
}
.notice-board-sect h2 {
    font-size: 3em;
    text-align: left;
    padding: 10px 10px 10px 20px;
    width: 100%;
    float: left;
    color: #74af74;
    text-align: center;
}
.notice-board {
    width: 100%;
    float: left;
    border:3px solid #101110c2;
    margin-top: 10px;
    border-radius: 20px;
}
.notice-board ul {
    list-style:none;
    width: 100%;
    float:left;
    padding:0px 10px 0px 5px;
}
.notice-board ul li {
    width: 100%;
    float:left;
    font-size: 16px;
    margin-bottom:20px;
}
.notice-board img {
    margin-right: 5px;
    margin-left: 5px;
    width:35px;
}
.event-list {
    width: 100%;
    float: left;
    padding:0px;
}
.event-list li {
    width: 100%;
    float: left;
    box-shadow: 0px 0px 2px 0px #2523231f;
    margin-bottom: 20px;
    list-style: none;
    padding: 10px 6px 10px 5px;
    border: 1px solid #ece6e6;
    border-radius: 10px;
}
.event-date {
    float: left;
    width:100px;
    text-align: center;
    border:2px solid #78f082;
    padding-top: 5px;
    border-radius: 10px;
}
.event-date h3 {
    font-size: 18px;
    padding-top: 0px;
}
.event-date p {
    font-size: 14px;
    background: #82e782;
    color: #fff;
    padding: 5px;
    margin-top: 5px;
}
.event-content {
    float: left;
    width: calc(100% - 90px);
    padding: 0px 0px 0px 10px;
}
.event-content h5 {
    font-size:18px;
    margin-bottom: 6px;
    color: #424242;
    font-weight: 500;
}
.event-content a {
    color: #6fe46b;
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
}
.event-content p {
    font-size: 16px;
    border-top: 2px solid #e3e3e3;
    margin-top: 8px;
    padding-top: 9px;
}
/********** Notice Bord and Upcoming Events CSS Ends **********/