* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.pag1-contanier {
    height: 100vh;
    width: 100%;
}

.top-container {
    height: 25vh;
    width: 100vw;
    background-color: #c7c2c294;
    display: flex;
    justify-content: space-evenly;
}

.box {
    height: 25vh;
    width: 10vw;
}

.box h4 {
    margin-left: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading-icons {
    height: 80px;
    width: 80px;
    margin-top: 15px;
    border-radius: 50%;
    border: solid 4px white;
    overflow: hidden;
    background-color: rgba(157, 221, 157, 0.89);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-icons:hover {
    background-color: rgba(250, 213, 6, 0.87);
    cursor: pointer;
}

.heading-icons img {
    height: 50%;
    width: 50%;
}

.bottam-container {
    height: 70vh;
    width: 100vw;
}

.main-heading {
    height: 8vh;
    width: 100%;
}

.main-heading h1 {
    font-size: 2.5em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.classes-box {
    height: 14vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.classes-box-headings {
    height: 10vh;
    width: 250px;
    background-color: rgba(157, 221, 157, 0.89);
    color: white;
    font-weight: 500;
    font-size: 0.1em;
    margin: 10px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1.8px black solid;
}

.classes-box-headings:hover {
    background-color: rgb(42, 44, 44);
}

.bottam-box {
    height: 75vh;
    width: 100%;
    display: flex;
}

.photo {
    height: 48vh;
    width: 32vw;
    display: flex;
    justify-content: end;
}

.photo1 {
    height: 48vh;
    width: 17vw;
    background-color: rgba(240, 237, 237, 0.74);
    overflow: hidden;
    box-shadow: 3px 5px 10px black;
}

.photo1 img {
    height: 230px;
    width: 100%;
}

.photo1 h3 {
    font-size: 1.3em;
    margin: 10px;
}

.courses {
    height: 48vh;
    width: 68vw;
    display: flex;
    margin-left: 10px;
}

.classes {
    height: 48vh;
    width: 16vw;
    margin: 15px;
    margin-top: 0;
}

.classes h3 {
    font-size: 1em;
    cursor: pointer;
}

.classes button {
    height: 7vh;
    width: 15vw;
    margin-top: 50px;
    font-size: 17px;
    background-color: #ff6e6c;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.classes button:hover {
    font-size: 18px;
}

.page2-container {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.main{
    height: 50vh;
    width: 100vw;
    display: flex;
}

.page2rightlogo {
    height: 50vh;
    width: 30vw;
}

.page2rightlogo img {
    height: 300px;
    margin-left: 120px;
}

.top-right{
height: 25vh;
width: 70vw;
display: flex;
justify-content: space-evenly;
}

.top-bottam{
    height: 25vh;
    width: 70vw;
}

.events {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    border: solid 4px black;
    cursor: pointer;
}

.top-bottam {
    height: 25vh;
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.events img {
    height: 80%;
    width: 80%;
    margin: 10px;
}

